{% load static %}
<!DOCTYPE=html>
<html lang="eng">
<head>
<title>
Control Legionella|{% block title %}{% endblock %}
</title>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% include 'snippets/css.html' %}

<link rel="stylesheet" href="{% static 'control/css/control.css' %}">

{% include 'snippets/js.html' %}

{% block head %}{% endblock head %}

</head>


<body>
	<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark" id="nav">
	<div class="navbar-brand pb-0 pt-0">
		<!-- <img src=" static 'RNAidatabase/RNAi.png' " width="58"> -->
		<span class="h4">Control Legionella </span>
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	    	<a class="nav-item nav-link"  href="{% url 'select_point' %}">Mesurar</a>
	    	<a class="nav-item nav-link"  href="{% url 'all_view' %}">Tots</a>
	    	<a class="nav-item nav-link"  href="{% url 'month_view' %}">Per_mesos</a>
	    	
	    	<span class="nav-item dropdown">
	    		<a class="nav-link dropdown-toggle mr-2" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings </a>
	    		<div class="dropdown-menu topNavbar">
					<a class="dropdown-item" href="{% url 'create_point' %}">Nou punt de mesura</a>
			    	<a class="dropdown-item" href="{% url 'edit_point' %}">Editar els punts</a>
			    	<a class="dropdown-item"  href="{% url 'create_area' %}">Crear i editar les zones</a>
			    	<a class="dropdown-item"  href="{% url 'db' %}">Descarregar base de dades</a>
				</div>
			</span>	
	    </div>
	    <div class="navbar-nav ml-auto">
	    	{% if request.user.username %}
	    	<span class="nav-item dropdown">
				<a class="nav-link dropdown-toggle mr-5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuari: {{request.user.first_name}}</a>
    			<div class="dropdown-menu topNavbar" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{% url 'logout' %}?next={{request.path}}">logout</a>
					<a class="dropdown-item" href="{% url 'password_change' %}">cambiar password</a>
				</div>
			</span>
				{% else %}
				<a class="nav-item nav-link " href="{% url 'login' %}?next={{request.path}}">login </a>
				{% endif %}
	    </div>
	</div>
</nav>
	<div class="container-fluid">

		{% block content %}
		{% endblock content %}
	</div>

{% block js %}{% endblock js %}


</body>
</html>
