{% extends "control/base.html" %}

{% block title %}home{%endblock%}

{% block content %}


<div class="row mt-5">
	<div class="col col-12 col-md-6 offset-md-3">	
		<h4 class="font-weight-bold ml-3">{{measure_point}}</h4>
		<h6 class="mb-5 ml-3">{% now "j M, Y (H:i)" %}</h6>
		<div class=" p-3 clearfix mb-5 ">
			<form method='POST'> {%csrf_token%}
				<div class="form-group">
					<label> Temperatura {{type_measure}}: </label>
				    {{ form.temperature }}
				    <span> {{ form.temperature.errors }} </span>
				    <span> {{ form.non_field_errors }} </span>
				    {{ form.measure_point }}
					{{ form.type_measure }}
				</div>
				<div class="form-group mt-4">
					<label> La conservacio es correcta: </label>
				    {{ form.status_OK }}
				    <span> {{ form.status_OK.errors }} </span>
				    
				    
				</div>
				<button type="submit" name="seguent" class="btn btn-secondary float-right mt-5 ml-5">Guardar i seguent</button>
				<button type="submit" class="btn btn-secondary float-right mt-5">Guardar</button>


			</form>
		</div>
	</div>
</div>


{% endblock %}
