{% extends "control/base.html" %}

{% block title %}punt mesura{%endblock%}

{% block content %}

<div class="row mt-2">
	<div class="col col-12 col-md-6">
		<h3 class="mt-2 mb-4 text-center"> Edita el punt:<br> "{{form.instance}}" </h3>
		<form method='POST'> {%csrf_token%}
			
		
		<div class="form-group">
			<div> {{form.number.errors}} </div>
			<label> {{form.number.label}} </label>
			{{form.number}}
		</div>

		<div class="form-group">
			<div> {{form.name.errors}} </div>
			<label>{{form.name.label}}</label>
			{{form.name}}
		</div>

		<div class="form-group">
			<div> {{form.area.errors}} </div>
			<label>{{form.area.label}}</label>
			{{form.area}}
			<a href="{% url 'create_area' %}" class="float-right">Crear una nova zona</a>
		</div>

		<div class="form-group">
			<div> {{form.group.errors}} </div>
			<label>{{form.group.label}}</label>
			{{form.group}}
		</div>
		
		<label >{{form.type_measure.label}}</label>
		<div class="form-group">
			<div> {{form.type_measure.errors}} </div>

{% for choice in form.type_measure.field.choices %}

			<div class="form-check mb-3 ml-4">
			<label>
				<input type="checkbox" class="form-check-input" name="{{ form.type_measure.name }}" value="{{ choice.0 }}" {% if choice.0 in form.type_measure.value %} checked {% endif %}">
				<span class="form-check-label">{{ choice.1 }}</span>
			</label>
			</div>

{% endfor %}

		</div>
		<button type="submit" class="btn btn-success  ml-5 mb-5 float-right">Guardar</button>
		<button type="button" name="delete"  data-toggle="modal" data-target="#warning_delete" class="btn btn-danger float-right">Eliminar</button>
		<!-- Modal -->
<div class="modal " id="warning_delete" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Atencio!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hi ha {{form.instance.measure_set.all.count}} mesures associades a "{{form.instance.name}}". Si el borres  també seran eliminades.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tancar</button>
        <button type="submit" name="delete"   class="btn btn-danger float-right">Eliminar</button>	
      </div>
    </div>
  </div>
</div>	
		</form>
	</div>
</div>


{% endblock content %}