{% extends "control/base.html" %}

{% block title %}punt mesura{%endblock%}

{% block content %}

<div class="row">
	<div class="col col-12">
		<h4 class="text-center">Editar els punts de mesura i el seu ordre</h4>
	</div>
</div>
<div class="row">
	<div class="col col-12">
		<a href="{%url 'edit_measure_point_byNumber' %}" class="float-right">(Llistat alternatiu ordenat per número)</a>
	</div>
</div>

<div class="row mb-5 mt-2">
	<div class="col col-6 col_scrollable">
		


		<ul id="simpleList" class="list-group pr-2 pl-2 pb-2 scrollable" data-d = "{% url 'set_point_order' %}">
{% for group in measure_point_group_all %}
	{% if forloop.first %}
			<li  class="d-none" data-id="group|{{group.id}}"></li>
			<h4 class="mt-2"> {{group}}:</h4>
	{% else %}
			<li class="list-group-item border-0 mt-2 p-0" style="list-style: none; background: none;" data-id="group|{{group.id}}">
				<h4> {{group}}:</h4>
			</li>
	{% endif %}
			
	{% for j in group.measure_point_set.all %}
					
			<li class="list-group-item my-handle  pt-1 pb-1" data-id="point|{{j.id}}">
				<span class="area"><span class="font-weight-bold">{{j.number}}</span>- {{j}}<br>{% if j.area %}{{j.area}}{% else %}<span class="text-danger">Sensa zona</span>{% endif %}</span>
				<a href="{% url 'edit_point2' %}?point={{j.pk}}"> <span class="badge badge-warning badge-pill float-right ml-3 js-edit">editar</span>
				</span> </a>
			</li>

	{% endfor %}
{% endfor %}

		</ul>
	</div>
	<div class="col col-6 " >
		
		<ul id="simpleList3" class="list-group pb-2 pr-2 pl-2 pb-2 ">
			<li  class="d-none" data-id="group|None"></li>
			<h4 class="text-center mt-2"> Punts de mesura sense asignar </h4>
{% for j in measure_point_orphan %}

		<li class="list-group-item my-handle  pt-1 pb-1" data-id="point|{{j.id}}">
			<span class="area"><span class="font-weight-bold">{{j.number}}</span>- {{j}}<br>{% if j.area %}{{j.area}}{% else %}<span class="text-danger">Sensa zona</span>{% endif %}</span>
			<a href="{% url 'edit_point2' %}?point={{j.pk}}"> <span class="badge badge-warning badge-pill float-right ml-3 js-edit">editar</span>
			</span> </a>
		</li>

{% endfor %}
			
		</ul>
	</div>
</div>


{% endblock content %}

{% block js %}

{% include 'snippets/ajax.html' %}
 
<script>

	
    // Simple list
    let list = Sortable.create(simpleList, {
		group: "point_mesure",
		animation: 150,
		handle: ".my-handle",
		onEnd: function () {
			send_order();
		},
		
	});

	let list3 = Sortable.create(simpleList3, {
		group: "point_mesure",
		animation: 150,
		handle: ".my-handle",
		onEnd: function () {
			send_order();
		},
		
	});


	// Send order

	function send_order(){
		let sort3 = list3.toArray();
		let sort = list.toArray();
		let points_array = sort3.concat(sort);
		console.log(points_array);
		$.ajax({
            method: "POST",
            url: $('#simpleList').data('d'),
            data: {'points_array':points_array.toString()},
            success: function(data, textStatus, jqXHR){
            	console.log(data['data'])
            },
        });

	};

	// $(window).on('resize scroll', function() {
	// 	let top= $('#nav').offset().top + $('#nav').height() + 10;
	// 	// console.log(top)
	// 	$('#simpleList3').offset({ top: top });
	// });

	
</script>

{% endblock %}