{% extends "control/base.html" %}

{% block title %}Tots{%endblock%}

{% block content %}
{% load static %}
{% load measures_in_point %}


<span id="edit_measure_url" data-edit_measure_url="{% url 'edit_measure' %}"></span>

<form id="form_year" method="GET">
	<div class="row mt-1 mb-1">
		<div class="col text-center">
			<span class="font-weight-bold">ANY: </span>{{form.year}}
		</div>
	</div>
</form>

<!-- TABLE -->
<div class="row ">	
	<div class="table-responsive">
		<table class="table table-bordered table-sm mb-0" >
			<thead >
				<tr class="table_head">
					<th class="border-0" width="5%"></th>
					<th class="border-0" width="37%"></th>
					<th class="border-0" width="14%"></th>
					<th class="border-0" width="16%"></th>
					<th class="border-0" width="12%"></th>
					<th class="border-0" width="7"%"></th>
					<th class="border-0" width="9%"></th>
				</tr>
			</thead>
			<tbody>

{% for a in area_all %}
	
				<tr>
					<th colspan="7" class="text-center border-bottom-0 border-top-0 table_head"> {{a}} </th>
				</tr>
				<tr class="text-center">
					<th class="border-top-0 table_head nowrap" colspan="2">Punt de mesura </th>
					<th class="border-top-0 table_head">Data</th>
					<th class="border-top-0 table_head">Temp.</th>
					<th class="border-top-0 table_head">Clor</th>
					<th class="border-top-0 table_head" colspan="2">Estat</th>
					
					
				</tr>

	{% for j in measure_point_query %}
		{% if j.area == a %}	
			{% for t in type_measure_all %}
				{% if t in j.type_measure.all %}

				<tr>
					<td class = "font-weight-bold {% if t.type_measure == 'freda' %}table-primary{% elif t.type_measure == 'calenta' %}table-danger"{% else %}table-secondary"{% endif %}" >{{j.number|stringformat:"02d"}}</td>

					<td >{{j.name}}</td>
		
					
					{% filter_cell_list measure_query j.id t.id as cell %}

					<td colspan="5"> 
				
						{% if cell %}
						<table width="100%" class="texter-center" style="table-layout: fixed;">
							<tbody>
							{% for m in cell %}
								<tr class="text-center">
									<td class=" border-0" width="22%">
										<a href="{% url 'edit_measure' %}?measure_id={{m.id}}">{{m.date_created|date:"d M"}}</a>
									</td>
									<td class=" border-0 " width="26%">
										{% if m.temperature %}
										<span class="font-weight-bold">{{m.temperature|stringformat:"04.1f"}}</span>ºC
										{% else %}-{% endif %}
									</td>
									<td class=" border-0" width="26%">
										{% if m.chloride %}
										<span class="font-weight-bold">{{m.chloride|stringformat:"03.1f"}}</span>
										 <span class="small">ppm</span>
										 {% else %}-{% endif %}
									</td>
									<td class=" border-0" width="10%">
										{% if not m.status_OK %}<span class="text-danger">∗∗</span>{% endif %}
									</td>
									<td class=" border-0" width="14%">
										{% if m.note %}<a href="{% url 'measure_view' %}?measure_id={{m.id}}">nota</a>{% endif %}
									</td>
								</tr>
							
							{% endfor %}
							</tbody>
						</table>
						{% endif %}						
					</td>	
				</tr>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
	
{% endfor %} <!-- area -->	

	
				<tr>
					<th colspan="7" class="text-center border-bottom-0 border-top-0 table_head"> Sense Zona asignada </th>
				</tr>
				<tr class="text-center">
					<th class="border-top-0 table_head nowrap" colspan="2">Punt de mesura </th>
					<th class="border-top-0 table_head">Data</th>
					<th class="border-top-0 table_head">Temp.</th>
					<th class="border-top-0 table_head">Clor</th>
					<th class="border-top-0 table_head" colspan="2">Estat</th>
					
					
				</tr>

	{% for j in measure_point_query %}
		{% if not j.area %}	
			{% for t in type_measure_all %}
				{% if t in j.type_measure.all %}

				<tr>
					<td class = "font-weight-bold {% if t.type_measure == 'freda' %}table-primary{% elif t.type_measure == 'calenta' %}table-danger"{% else %}table-secondary"{% endif %}" >{{j.number|stringformat:"02d"}}</td>

					<td >{{j.name}}</td>
		
					
					{% filter_cell_list measure_query j.id t.id as cell %}

					<td colspan="5"> 
				
						{% if cell %}
						<table width="100%" class="texter-center" style="table-layout: fixed;">
							<tbody>
							{% for m in cell %}
								<tr class="text-center">
									<td class=" border-0" width="22%">
										<a href="{% url 'edit_measure' %}?measure_id={{m.id}}">{{m.date_created|date:"d M"}}</a>
									</td>
									<td class=" border-0 " width="26%">
										{% if m.temperature %}
										<span class="font-weight-bold">{{m.temperature|stringformat:"04.1f"}}</span>ºC
										{% else %}-{% endif %}
									</td>
									<td class=" border-0" width="26%">
										{% if m.chloride %}
										<span class="font-weight-bold">{{m.chloride|stringformat:"03.1f"}}</span>
										 <span class="small">ppm</span>
										 {% else %}-{% endif %}
									</td>
									<td class=" border-0" width="10%">
										{% if not m.status_OK %}<span class="text-danger">∗∗</span>{% endif %}
									</td>
									<td class=" border-0" width="14%">
										{% if m.note %}<a href="{% url 'measure_view' %}?measure_id={{m.id}}">nota</a>{% endif %}
									</td>
								</tr>
							
							{% endfor %}
							</tbody>
						</table>
						{% endif %}						
					</td>	
				</tr>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}			
		
			</tbody> <!-- body -->
		</table> <!-- table -->
	</div>
</div>
	

<!-- END TABLE -->


<div class="row mb-5"><br></div>
<div class="row mb-5"><br></div>

{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
	$('#id_year').change(function(){
		$('#form_year').submit();
	})
})
</script>
{% endblock %}	
