{% extends "control/base.html" %}

{% block title %}area{%endblock%}

{% block content %}


<form method="GET" id="form">
	<div class="row mt-5 align-content-center">
		<div class="col col-12 col-md-6 offset-md-3">
{% if measure_point.group.id != current_group %}
			<div class="alert alert-danger" role="alert">
				Encara no es necessari mesurar aquest punt!{% if measure_point.group %} Es de {{measure_point.group}} {% endif %}.
			</div>
{% endif %}
			<div class="border p-3 clearfix mb-5 bg-light">
				<h4 class="mt-2 ml-5 font-weight-bold">{{measure_point.number}} - {{ measure_point }}</h4>
				<h5 class="ml-5">Zona: {{measure_point.area}}</h5>
				<h5 class="ml-5">Mes: {{measure_point.group}}</h5>
				<div class="ml-5 mt-5" >Selecciona fred o calent:</div>
				<div >
					
					<input name="measure_point" value="{{measure_point.number}}" class="d-none">
						{{form.as_p}}
						
				{% for x,y in form.fields.type_measure.choices %}
					<button type="button" class="btn {% if y == 'freda' %}btn-primary{% elif y == 'calenta' %}btn-danger{% else %}btn-secondary{% endif %} mt-3 ml-5 button_type" value="{{x}}">{{y}}</button>
				{% endfor %}
						
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}
{% block js %}
<script>
$(document).ready(function(){
	let form_type = $('#form');
	$('.button_type').click(function(){
		let button_value = $(this).attr('value');
		$('select').val(button_value);
		form_type.submit();
	})
})


</script>
{% endblock %}	