{% load static %}
<!DOCTYPE=html>
<html lang="eng">
<head>
<title>
login
</title>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% include 'snippets/css.html' %}
<link rel="stylesheet" href="{% static 'admin_static/css/admin.css' %}">

{% include 'snippets/js.html' %}

</head>


<body>
    
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark mb-1">
    <div class="navbar-brand pb-0 pt-0">
        <!-- <img src=" static 'RNAidatabase/RNAi.png' " width="58"> -->
        <span class="h4">Control Legionella </span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link"  href="{% url 'home' %}">Llista</a>
            <a class="nav-item nav-link"  href="{% url 'select_point' %}">Mesurar</a>
            <span class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-2" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings </a>
                <div class="dropdown-menu topNavbar">
                    <a class="dropdown-item" href="{% url 'create_point' %}">Nou punt de mesura</a>
                    <a class="dropdown-item" href="{% url 'edit_point' %}">Editar els punts</a>
                    <a class="dropdown-item"  href="{% url 'create_area' %}">Crear i editar les zones</a>
                </div>
            </span> 
        </div>
    </div>
</nav>
    <div class="container">


        

{% if next %}
    {% if user.is_authenticated %}
    <p class="mt-5">El teu compte no te drets per accedir a aquesta pagina. Si vols continuar, cambia a un usuari amb privilegis de acces.</p>
    {% else %}
        <p class="mt-5">Si us plau, login.</p>  
    {% endif %}
{% endif %}

{% if form.errors %}
<p style="color: red;">El teu usuari i password no son correctes.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>Usuari:</td>
    <td><div id="form-control">{{ form.username }}</div></td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" class="btn btn-success mt-3" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

        
</div>


{% block js %}{% endblock js %}

</body>


<footer>

</footer>

</html>


