{% load static %}
<!DOCTYPE=html>
<html lang="eng">
<head>
<title>
password_changed|{% block title %}{% endblock %}
</title>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% include 'snippets/css.html' %}

{% include 'snippets/js.html' %}

</head>


<body>
    
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark mb-1">
        <div class="navbar-brand pb-0 pt-0">
        <!-- <img src=" static 'RNAidatabase/RNAi.png' " width="58"> -->
        <span class="h4">Control Legionella </span>
    </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav ml-auto">
                {% if request.user.username %}
                <span class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User: {{request.user.first_name}}</a>
                    <div class="dropdown-menu topNavbar" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'logout' %}?next={{request.path}}">logout</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}">change password</a>
                    </div>
                </span>
                {% else %}
                <a class="nav-item nav-link " href="{% url 'login' %}?next={{request.path}}">login </a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">

        <div class="row">
            <div class = "col mt-4">
                <h5>{{request.user.first_name}}, el teu password s'ha canviat exitosament.</h5>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class = "col col-auto">
                <a class="btn btn-dark btn-lg mt-5" href="{% url 'home' %}?reuse=no" role="button">Legionella</a>
            </div>
        </div>    
    </div>    



        
    </div>


{% block js %}{% endblock js %}

</body>


<footer>

</footer>

</html>


