.my-handle {
	cursor: move;
	cursor: -webkit-grabbing;
}

/*.sortable-chosen {
	background-color: red;
}*/

.js-edit, .js-delete, .pointer {
	cursor: pointer;
}

.sortable-ghost {
  opacity: .3;
  background: #C8EBFB;
}

.table_head {
	background: #8c8cd9;
	color: white;

}

.nowrap {
	white-space: nowrap;
}

.errorlist {
	color:red;
}

.select_item:hover {
	cursor: pointer;
	
}


/*.fixed-wrapper {
	position:absolute;

}*/
.fixed-content {
	top:100;
	right:0;
    bottom:0;
	position:fixed;
    overflow-y:scroll;
    width: 50%
	

}

